<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://www.mercadopago.com/v2/security.js" view="item"></script>
    <title>Detail</title>
</head>
<body>
    <section>
        <picture>
            <img src="<%= pictures[1].url %>" alt="product_image">
        </picture>
        <article>
            <h2><%= title %> </h2>
            <span><%= condition %> </span>
            <span><%= sold_quantity %> </span>
            <section>
        <a href="<%= init_point %>">Pagar la compra</a>
            </section>
        </article>
    </section>
</body>
</html>